.svg {
    filter: drop-shadow(4px 5px 2px hsl(225, 70%, 60%));
}
.svg:hover {
    cursor: pointer;
    filter: drop-shadow(4px 5px 2px hsl(225, 100%, 80%));
}
.svg:active {
    transform: translateY(-10%);
    transition: 360ms ease-in-out;
}