.track-fast {
    background: url('./svg/fasttrack.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    width: 0%;
    right: 40%;
    bottom: 15%;
    z-index: 1;
}
.track-back {
    background: url('./svg/backtrack.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    width: 0%;
    left: 40%;
    bottom: 15%;
    z-index: 1;
}
.play {
    background: url('./svg/playicon.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 18px;
    width: 0%;
    right: 0;
    left: 0;
    bottom: 15%;
    margin: auto auto;
    z-index: 1;
}
.pause {
    background: url('./svg/pauseicon.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 18px;
    width: 0%;
    right: 0;
    left: 0;
    bottom: 15%;
    margin: auto auto;
    z-index: 1;
}
/* .shuffle {
    background: url('./svg/shuffle.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    width: 0%;

    z-index: 1;
} */