/* *,
::after,
::before {
    box-sizing: border-box;
} */
body {
    background-image: url('./images/night-view.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}
body::after {
    content: '';
    background: rgba(0, 0, 0, 0.520);
    inset: 0;
    position: fixed;
}
.track-fast {
    background: url('./svg/fasttrack.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    width: 0%;
    right: 40%;
    bottom: 15%;
    z-index: 1;
}
.track-back {
    background: url('./svg/backtrack.svg');
    background-repeat: no-repeat;
    position: absolute;
    padding: 15px;
    width: 0%;
    left: 40%;
    bottom: 15%;
    z-index: 1;
}
@media (max-width: 1050px){
    .track-fast {
        width: 0%;
        right: 35%;
    }
    .track-back {
        width: 0%;
        left: 35%;
    }
}
@media (max-width: 750px){
    .track-fast {
        width: 0%;
        right: 30%;
    }
    .track-back {
        width: 0%;
        left: 30%;
    }
}
@media (max-width: 350px){
    .track-fast {
        width: 0%;
        right: 20%;
    }
    .track-back {
        width: 0%;
        left: 20%;
    }
}